form {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: Arial;
  }

input, button {
    width: 93%;
    padding: 10px;
    margin-top: 5px;
  }

.style_botton{
  width: 31%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
}

.text_center{
  text-align: center;
}
